body{
    display: flex;
}
#GraphnRecent{
    display: flex;
}
#productList{
    min-width: 100%;
    margin: 5px;
    border: solid black 5px;
}
#graph,#recentProducts{
    margin: 5px;
    border: solid black 5px;
    padding:2vw;
}
.table{
    width: 100%;
}
#menu{
    min-width: max-content;
    padding: 3vw;
}

#recentProducts{
    width: 50vw;
}


