.title{
    font-size: larger;
    font-weight: 700;
    padding: 5px;
    text-align: center;

}

.state{
    text-align: center;
}

.card{
    border: 1px solid #000;
    border-radius: 1vw;
    margin: 3vw;
    padding: 10vw;
    min-height: 2vw;
}