@font-face {
  font-family: Chana;
  src: url(/Fonts/chaney-ultraextended-webfont.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
  min-height: 100vh;
}

.loader {
position: absolute;
width: 100%;
height: 100vh;
background-color: rgb(250,195,8);
animation: pulse 3s;
z-index: 9;
}

.zoom {
position: absolute;
top: 45%;
left: 50%;
font-size: 11vw;
-webkit-text-stroke-width: 0.09vh;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-color: #fff;
outline: none;
transform: rotate(-7deg) translate(-50%, -50%);
opacity: 0.89;
font-family: Chana ;
/* font-family: ProductSans; */
font-weight: 200;
}

.loader h1 {
position: absolute;
top: 50%;
left: 50%;
transform: rotate(-7deg) translate(-50%, -50%);
/* outline: 1px solid #fff; */
font-family: Chana;
font-size: 5vw;
padding: 2vw;
/* transform: rotate(-5deg) ; */
color: #fff;
}

.Loading {
bottom: -65%;
left: 50%;
transform: rotate(-7deg) translate(-50%, 0%);
position: relative;
display: inline-block;
width: 50%;
height: 10px;
background: #f1f1f1;
/* box-shadow: inset 0 0 5px rgba(0, 0, 0, .2); */
border-radius: 4px;
overflow: hidden;
}

.Loading:after {
  content: "";
  position: absolute;
  bottom: 10%;
  /* width: 100%; */
  height: 100%;
  border-radius: 4px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, .2); */
  animation: load 3s;
}


@keyframes load {
0% {
  width: 0;
  background: #a28089;
}

25% {
  width: 25%;
  background: #a0d2eb;
}

50% {
  width: 50%;
  background: #d0bdf4;

  /* background: #ffa8b6; */
}

75% {
  width: 75%;
  background: #d2d2d2;
  /* background: rgb(250, 195, 8); */
}

100% {
  width: 100%;
  /* background: #d0bdf4; */
  /* background: #ffa8b6; */

  background: rgb(250,195,8);
}
}

@keyframes pulse {
0% {
  background: #a28089;
}

25% {
  background: #a0d2eb;
}

50% {
  background: #d0bdf4;
}

75% {
  background: #d2d2d2;
}

100% {
  background: rgb(250, 195, 8);
}
}

.svgwaala {
position: relative;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(/Images/back1.jpg);
background-size: cover;
background-position: bottom;
opacity: 0;
overflow: hidden;
transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
z-index: 99;
}

#dotted {
width: 130%;
height: 130vh;
display: flex;
align-items: center;
justify-content: center;
background-image: url(/Images/back.png);
background-size: cover;
background-position: center;
animation: dotte 8s ease-in-out alternate infinite;
overflow: hidden; 
}

#dotted > img:nth-child(1) {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 12vw;
animation: updown 2s ease-in-out alternate infinite;
opacity: 0;
}

#D{
position: absolute;
width: 9vw;
top: 25%;
left: 39%;
animation: letter 1.9s ease-in-out alternate infinite;
}
#n {
position: absolute;
width: 5vw;
top: 43%;
left: 42%;
animation: letter 1.9s ease-in-out alternate infinite;
}
#r {
position: absolute;
width: 7vw;
top: 25%;
left: 54%;
z-index: 2;
animation: letter 1.8s ease-in-out alternate infinite;
}
#g{
position: absolute;
width: 10vw;
top: 38%;
left: 54%;
animation: letter 1.9s ease-in-out alternate infinite;
}
#m {
position: absolute;
width: 7vw;
top: 50%;
left: 53%;
animation: letter 1.8s ease-in-out alternate infinite;
}
#a {
position: absolute;
width: 15vw;
top: 44%;
left: 38%;
z-index: 9;
animation: letter 1.9s ease-in-out alternate infinite;
}
#u{
  position: absolute;
  width: 12vw;
  top: 35%;
  left: 45%;
  z-index: 8;
  animation: letter 1.9s ease-in-out alternate infinite;
  }


#explore {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 75.6%;
width: 7vw;
height: 2vw;
color: #812929;
background: rgba(255, 255, 255, 0.45);
box-shadow: 0 8px 32px 0 rgba(229, 116, 45, 0.37);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 10px;
font-size: 0.5vw;
cursor: pointer;
font-family: product sans;
}

#explore a h1 {
color: #fff;
}

@keyframes updown {
from {
  margin-top: -1vw;
}

to {
  margin-top: 1vw;
}
}

@keyframes letter {
from {
  margin-top: 0vw;
}

to {
  margin-top: 1vw;
}
}

@keyframes dotte {
from {
  margin-top: -15%;
  margin-left: -15%;
}
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #2d40be;
  --primary-color-dark: #db6f35;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  position: relative;
  padding: 1vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btns {
  display: none;
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 4rem;
  overflow-x: hidden;
}

.header__image {
  position: relative;
  isolation:isolate;
}

.header__image::before {
  position: absolute;
  content: "";
  width: 90%;
  max-width: 400vw;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
}

.header__image img {
  max-width: 350px;
  margin-inline: auto;
}

.header__image__card {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__image__card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__image__card-1 {
  top: 40%;
  left: 0;
  transform: translate(-50%, -50%);
}

.header__image__card-2 {
  top: 10%;
  right: 2rem;
  transform: translateY(-50%);
}

.header__image__card-3 {
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.header__image__card-4 {
  top: 70%;
  right: 0;
  transform: translateY(-50%);
}

.header__content h1 {
  position: absolute;
  top: 10vw;
  margin-bottom: 1vw;
  font-size: 3vw;
  font-weight: 250;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 4rem;
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  position: absolute;
  top: 30vw;
  margin-bottom: 2vw;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.header__content form {
  margin-bottom: 4rem;
  position: relative;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header__content .input__row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header__content .input__group {
  flex: 1;
}

.header__content .input__group h5 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.header__content .input__group > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__content input {
  width: 100%;
  top: 90%;
  position: relative;
  left: 10%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header__content input::placeholder {
  font-weight: 600;
  color: var(--text-dark);
}

.header__content .input__group span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.header__content .bar {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__logo a span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  .nav__links a:hover {
    border-color: var(--primary-color);
  }

  .nav__btns {
    display: flex;
    flex: 1;
  }

  .nav__btns .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .sign__up {
    color: var(--text-dark);
    background-color: transparent;
  }

  .sign__up:hover {
    color: var(--primary-color);
  }

  .sign__in {
    color: var(--white);
    background-color: var(--primary-color);
  }

  .sign__in:hover {
    background-color: var(--primary-color-dark);
  }

  .header__container {
    padding-block: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h1, p, .bar) {
    text-align: left;
  }
}

@media (width > 1024px) {
  .header__content form {
    flex-direction: row;
  }

  .header__content button {
    width: fit-content;
  }
}
