/* src/index.css or src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding:0;
}

.state-board{
  display: flex;
  justify-content: space-around;
  max-height: 30vw;
}

.medicine-orders{
  margin: 2vw;
}

.mainpageNav{
  position: sticky;
  top:5px
}

.medicineOrderTable{
  margin:8vw;
  padding:5vw;
}
